@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);
//@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.app {
  margin: 0;
  min-height: 100vh;
}

.home {
  min-height: 100vh;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  color: $darkPrim;
  background-color: $darkBgrd;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav {
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.5em 1em;
  flex: 0 0 5em;

  img {
    &:hover {
      filter: drop-shadow(0 0 5px rgba(202,228,225,0.2)) drop-shadow(-2px 0 5px rgba($darkScnd, 0.25)) drop-shadow(2px 0 5px rgba($darkThrd, 0.25));
    }
  }


  @include lg {
    width: 75%;
    margin: auto;
    font-size: 1.2em;
    img {
      width: 140px;
      height: 100px;
      transition: .2s;
    }
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 1rem;
  }

  .nav-item {
    &:hover {
      transform: translateY(-2px);
    }
    &:active {
      transform: translateY(2px);
    }
    &.active {
      text-shadow: 0 0 6px rgba(202,228,225,0.5);
      img {
        filter: drop-shadow(0 0 5px rgba(202,228,225,0.2)) drop-shadow(-2px 0 5px rgba($darkScnd, 0.4)) drop-shadow(2px 0 5px rgba($darkThrd, 0.4));
      }
      span {
        position: relative;
        display: inline-block;

        &:before{
          transition: .2s;
          box-shadow: 0 0 6px rgba(202,228,225, 1);
          position: absolute;
          height: 2px;
          width: 50%;
          left: 25%;
          transform: translate(0, -50%);
          bottom: -5px;
          background: white;
          display: block;
          content: "";
          border-radius: 2px;
        }
        &:hover:before {
          box-shadow: 3px 0 2px rgba($darkThrd, 0.75), -3px 0 2px rgba($darkScnd, 0.75);
        }
      }
    }
    &:hover {
      text-shadow: 2px 0 2px rgba($darkThrd, 0.75), -2px 0 2px rgba($darkScnd, 0.75);
    }
  }
}

.container {
  height: auto;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 0 0 4em;
  align-items: center;
  justify-content: center;
  font-weight: 100;


  @include lg {
    margin: auto;
    font-size: 1.2em;
  }
}

.font-medium {
  font-weight: 500;
}

.font-thin {
  font-weight: 400;
}

a {
  color: $darkPrim;
  text-decoration: none;
  font-weight: 600;
  transition: .2s;
  //margin-right: 1rem;
}

pre code {
  font: 12px, PT Mono, monospace;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fafafa;
  margin: 1px;
  display: inline-block;

}

pre {
  padding:1rem;
  display: block;
  font-size: 1.5em;
  white-space: pre;
  border-radius: 4px;
  background: #FAFAFB;
  tab-size: 2;
}

pre code table tbody tr td {
  padding-right: 1rem;
}

code {
  font: 20px, monospace;
  overflow:auto;
  background-clip: padding-box;
  background-color: #0c0101;
  margin: 1px;
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
}





