.page,
.post {
  margin-bottom: 4em;
  
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #fff;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  color: rgb(124, 119, 119);
}

.page-description {
    color:rgb(204, 199, 199);
    margin-top: -1rem;
}