<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
  <link rel="icon" type="image/png" href="favicon.png" />
  <title>ERROOOOOOOORRR</title>
</head>
<body>
  <center>
  <div class="error-content">
    <h1>
      <span class="char1">E</span>
      <span class="char2">R</span>
      <span class="char3">R</span>
      <span class="char4">O</span>
      <span class="char5">R</span>
      <span class="char7">4</span>
      <span class="char8">0</span>
      <span class="char9">4</span>
    </h1>
    <h3>The page you are looking for doesn't exists!!!</h3>
    <div> 
      <a  {% if lang == "en" %} href="{{ config.base_url ~ '/' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang}}" {% endif %}
      >
        GO BACK HOME
      </a>  
    </div>
    <img src="/ronflex.png" />
  </div>
  </center>
</body>
</html>