{% extends "base.html" %}

{% block content %}
  <div class="about">
    <div class="content">
        <div class="resume-header">
            <h1 class="resume-title">{{ section.title }}</h1>
            <h2 class="resume-title"> {{section.extra.salutation}}</h2>
            <div class="font-thin"> {{ section.content | safe }} </div>
        </div>
    </div>
  </div>
{% endblock content %}