 {% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{config.extra.author }} </title>
  <meta name="author" content="{{ config.extra.author }}">
  <meta name=description content="Personal website of a web developer using zola static generator website.">
  <meta property="og:title" content="{{ config.extra.author }}">
  <meta property="og:image" content="{{config.base_url ~ '/hello.png' }}">
  <meta property="og:description" content="Personal website of a web developer using zola static generator website.">
  <link rel="preload"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" />
  <link rel="preload" href="{{ get_url(path="style.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </noscript>
</head>

<body>
  <div class="app">
    <nav class="nav">
      <a {% if current_path == "/" or current_path == "fr/" %} class="nav-item active" {% else %} class="nav_item" {% endif %}
          {% if lang == "en" %} href="{{ config.base_url ~ '/' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang}}" {% endif %}
      >
        Home
      </a>

      <div class="nav-right">
        <a {% if current_path is containing("/posts") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
        {% if lang == "en" %} href="{{ config.base_url ~ '/blog' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/blog'}}" {% endif %}
    >
        <span style="margin-right: 1rem;">  Blog </span>
    </a>

    <a {% if current_path is containing("/publications") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
        {% if lang == "en" %} href="{{ config.base_url ~ '/research' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/research'}}" {% endif %}
    >
        <span style="margin-right: 1rem;">  Research </span>
    </a>

        <a {% if current_path is containing("/about") %}class="nav-item active"{% else %}class="nav-item"{% endif %}
            {% if lang == "en" %} href="{{ config.base_url ~ '/about' }}" {% else %} href="{{ config.base_url ~ '/' ~ lang ~ '/about'}}" {% endif %}
        >
            <span style="margin-right: 1rem;"> About me </span>
        </a>
        
      </div>
    </nav>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="footer">
      Made with Zola.
    </footer>
  </div>
</body>
</html>
