{% extends "base.html" %}

{% block content %}
<div class="about">
  <p>Hello There!!
  <p>Thanks for your interest in what's on my mind.
  <p>Unfortunately, I haven't gotten around to putting them to words and hence, there's nothing to see here.
  <p>I have some drafts though and hopefully I will soon have a final version for you to read. 
    <p>There's some more bad news though. I haven't set up a feed yet and so you can't subscribe to get an update. Maybe come back in a few days and I will try to have both the feed and the post ready.
    {% for page in section.pages %}
        {% set title = page.title| slugify | replace(from="http-127-0-0-1-1111-posts-", to="") %}
        <a href="{{config.base_url ~ '/blog/' ~ title}}">    
            <div class="content-block">
                <h1 class="content-block-title">{{ page.title }}</h1>
                {{ page.description | safe }}
            </div>
        </a>
        {% endfor %}
  </div>
{% endblock content %}
