{% extends "base.html" %}

{% block content %}
<div class="about">
    <div class="content">
        <div class="content-block">
        <h1 >{{ page.title }}</h1>
        <h4 class = "page-description">{{ page.description }}</h4>
        <span class="post-date">{{ page.date | date(format="%d-%m-%Y") }} | Approx {{ page.reading_time }} minutes to read</span>
        {{ page.content | safe }}
        </div>
    </div>
</div>
  
{% endblock content %}
