{% extends "base.html" %}

{% block content %}
<div class="about">
    <div class="content">
        <div class="resume-header">
            <h1 class="resume-title">{{ section.title }}</h1>
            <div class="font-thin"> {{ section.content | safe }} </div>
            <br>
            <h2 class="resume-title"> Publications </h2>
            {{macros::publications(publication_config = config.extra.publications)}}
        </div>
    </div>
  </div>
{% endblock content %}
